body{
    background-color: rgb(0, 153, 255);
}
 .img_topo{
     width: 50%;
 }
 .img_corpo{
     width: 25%;
 }

    figure{
        text-align: center;
    }
    h1{
        text-align: center;
 }

    p{
        font-size: 2rem;
        text-align: justify;
        text-indent: 40px;
    }